<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">

	<property name="log_home" value="ml-stream/logs"/>
	<property name="predict.log.level" value="DEBUG"/>
	<appender name="FILE-AUDIT"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log_home}/component-score-processor.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread] [%logger{5}:%line] - %msg%n
			</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${log_home}/archived/debug.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

	</appender>
	<appender name="FILE-ERROR"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log_home}/ml-stream-error.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread] [%logger{5}:%line] - %msg%n
			</Pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${log_home}/archived/error.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread] [%logger{5}:%line] - %msg%n
			</Pattern>
		</layout>
	</appender>


	<root level="${predict.log.level}">
		<appender-ref ref="FILE-ERROR"/>
		<appender-ref ref="FILE-AUDIT"/>
		<appender-ref ref="STDOUT"/>
	</root>
</configuration>